p#grhTitulo{
    font-size: 25px;
    text-align: center;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}

p#pauthor{
    font-size: 11px;
    text-align: right;
    color: #02548b;
}


/*******************************************
 * Exibe dados do contrato
 *******************************************/

p#contratoLabel{
    font-size: 10px;
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-bottom: -5px;
}

p#contratoConteudo{
    font-size: 14px;
    text-align: left;
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
}

p#contratoItem{
    font-size: 12px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

p#contratoNumero{
    font-size: 16px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: blue;
}

p#situacaoData{
    font-size: 9px;
    text-align: right;
    padding: 0px;
    margin: -10px;
}

p#comissaoMembro{
    font-size: 9px;
    text-align: right;
    padding: 0px;
    margin: -10px;
}

p#comissaoTipo{
    font-size: 9px;
    text-align: right;
    padding: 0px;
    margin: -10px;
}

a#editaNota{
    font-size: 10px;
    color: #8a8a8a;
    padding: 0px;
    margin: 0px;
}

div#divEdita1{
    position: relative;
    float: right;
    left: -40px;
    bottom: -20px;
}

div#divEdita2{
    position: absolute;
    bottom: 0;
}

div#divEdita1Comissao{
    position: relative;
    float: right;
    left: -53px;
    bottom: 6px;
}

div#divEdita1Contrato{
    position: relative;
    float: right;
    left: -53px;
    bottom: -50px;
}

tr#listaDados{
    background-color: #D7D7D7;
}

p#contratoLabelCallout1{
    font-size: 9px;
    text-align: left;
    padding: 0px;
    margin: -10px;
    margin-bottom: 0;
}

p#contratoLabelCallout2{
    font-size: 9px;
    text-align: center;
    padding: 0px;
    margin: -10px;
    margin-bottom: 0;
}

p#situacaoAtual{
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

p#statusAtivo{
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: green;
    font-weight: bold;
}

p#statusPendente{
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: red;
    font-weight: bold;
}

p#statusEncerrado{
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: gray;
    font-weight: bold;
}

p#tituloInicial{
    font-size: 25px;
    text-align: center;
    font-family: tahoma;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}

p#pTempoTotal60{
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: red;
    font-weight: bold;
}

p#pTempoTotal{
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: blue;
}

p#pVigencia{
    font-size: 10px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

p#pVigenciaJaPassou{
    font-size: 10px;
    text-align: center;
    padding: 3px;
    margin: 0px;
    color: red;
    font-weight: bold;
}

p#pAditivoPublicacao{
    padding: 0px;
    margin: 0px;
    margin-top: 6px;
}

p#pAditivoPag{
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}

/*******************************************
 * Cadastro da comissão
 *******************************************/

tr#presidenteComissao{
    background-color:#97b0e5;
    font-weight: bold;
}

tr#membroComissao{
    background-color:#cccccc;
}

tr#suplenteComissao{
    background-color:#fff;
}

tr#saiuComissao{
    background-color:#ffcccc;
}

pre {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

hr#hrComissao{
    margin-top: 3px;
    margin-bottom: 3px;
    border-top: 1px solid #8a8a8a;
}

p#pNumAdt{
    font-size: 11px;
    text-align: right;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

p#pmembroLotacao{
    font-size: 10px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

p#pmembroNome{
    font-size: 12px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

p#pComissaoImpressao{
    font-size: 12px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

p#pPortaria{
    font-size: 12px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
/*******************************************
 * Tela Inicial
 *******************************************/
p#ip{
    font-size: 11px;
    text-align: right;
    color: #02548b;
}

p#usuarioLogado{
    font-size: 11px;
    text-align: left;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}

p#idServidor{
    font-size: 9px;
    text-align: left;
    color: #02548b;
    padding: 0px;
    margin: 0px;
    float: right;
}

p#versao{
    font-size: 11px;
    text-align: center;
    color: #02548b;
    padding: 0px;
    margin: 0px;
}

hr#hrMenusecundario{
    margin-top: 0px;
    margin-bottom: 10px;
}

/*******************************************
 * Alertas
 *******************************************/

p#palerta{
    font-size: 14px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

p#palertaSpainel{
    font-size: 10px;
    text-align: left;
    padding: 0px;
    margin: 0px;
    color: red;
}

/*******************************************
 * Eventos na tela Inicial
 *******************************************/

table#tableTarefas{
    border-collapse: separate;
    border-spacing: 2pt;
    font-size: 13px;
    width: 100%;
    margin: 0px;
}

table#tableTarefas a{
    color: #000;
    font-size: 14px;
}

table#tableTarefas th{
    background-color:#fff;
    height: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

table#tableTarefas caption {
    background-color: #fff;
    font-weight: normal;
    font-size: 14px;
    color: #000;
    text-align: left;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

table#tableTarefas td{
    background-color: #FFF;
    padding: 2px;
    border-bottom: 1px solid gray;
    color: #000;
    font-size: 12px;
}

table#tableTarefas tfoot td {
    background-color: #FFF;
    color: #000;
    text-align: right;
    border-bottom: 0px;
    font-size: 10px;
    padding: 0px;
}

span#projeto{
    color: #076cba;
    font-size: 11px;
}

span#etiqueta{
    font-size: 11px;
    color: #ff6600;
}

/*******************************************
 * Cadastro de Aditivo
 *******************************************/

p#pvalorPositivo{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    color: blue;
}

p#pvalorNegativo{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    color: red;
}

p#pvalorNulo{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

p#pvalorTotalPositivo{
    font-size: 18px;
    padding: 10px;
    margin: 0px;
    color: blue;
    text-align: center;
}

p#pvalorTotalNegativo{
    font-size: 18px;
    padding: 10px;
    margin: 0px;
    color: red;
    text-align: center;
}

p#pvalorTotalPositivoTabela{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    color: blue;
}

p#pvalorTotalNegativoTabela{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    color: red;
}

p#paditivoVinculado{
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    color: #ff6600;
}

p#paditivoVinculadoValorPositivo{
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    color: blue;
}

p#paditivoVinculadoValorNegativo{
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    color: red;
}

/*******************************************
 * Cadastro de Modalidade
 *******************************************/

tr#trModalidadeDespesa{
    background-color: #ffcccc;
}

tr#trModalidadeReceita{
    background-color: #97b0e5;
}

/*******************************************
 * Cadastro de Pagamentos
 *******************************************/

p#pPagamentos{
    font-size: 10px;
    padding: 0px;
    margin: -8px;
    text-align: center;
}

a#porNatureza{
    font-size: 10px;
    padding: 0px;
    margin-top: -8px;
    text-decoration: none;
    color: blue;
    float:right;
}

p#pvalorTipo3{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    color:darkorchid;
    font-weight: bold;
}
/*******************************************
* Folha de Rosto
*******************************************/

div#tituloFichaCadastral{
    background-color: #e6e6e6;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    padding: 4px 2px 2px 10px;
}

p#pvalorTotalTexto{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

p#pvalorTotalValor{
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
