
/*******************************************
 * Exibe dados do contrato
 *******************************************/

p#contratoLabel{
    font-size: 10px;
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-bottom: -5px;
    
}

p#contratoConteudo{
    font-size: 14px;
    text-align: left;
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
}


p#contratoItem{
    font-size: 12px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

p#contratoNumero{
    font-size: 26px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

p#situacaoData{
    font-size: 9px;
    text-align: right;
    padding: 0px;
    margin: -10px;
}

p#comissaoMembro{
    font-size: 9px;
    text-align: right;
    padding: 0px;
    margin: -10px;
}

p#comissaoTipo{
    font-size: 9px;
    text-align: right;
    padding: 0px;
    margin: -10px;
}

div#divEditaNota{
    float: right;
    margin-top: -60px;
}

tr#listaDados{
    background-color: #D7D7D7;
}

p#statusAtivo{
    font-size: 10px;
    text-align: right;
    padding: 0px;
    margin: -10px;
    color: green;
    font-weight: bold;
}

p#statusPendente{
    font-size: 10px;
    text-align: right;
    padding: 0px;
    margin: -10px;
    color: red;
    font-weight: bold;
}

p#statusEncerrado{
    font-size: 10px;
    text-align: right;
    padding: 0px;
    margin: -10px;
    color: gray;
    font-weight: bold;
}

/*******************************************
 * Cadastro da comissão
 *******************************************/

tr#presidenteComissao{
    background-color:#97b0e5;
    font-weight: bold;
}

tr#membroComissao{
    background-color:#cccccc;
}

tr#suplenteComissao{
    background-color:#fff;
}

pre {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}